.welcome-text {
  text-align: right;
  margin-bottom: 5rem;
  margin-right: 5%;
}

.about-me-paragraph {
  margin-left: 3rem;
}
.about-me-paragraph p {
  font-size: 1rem;
}

.title-container img {
  margin-left: 2rem;
  border-radius: 25%;
  width: 15rem;
  height: 15rem;
}

.home-content-abt {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    margin: 3rem;
}


.title-container{
    width: 90%;
    align-self: center;
}

